<%# locals: (category:) %>
<div data-controller="dropdown">
  <button class="flex items-center justify-center hover:bg-gray-50 w-8 h-8 rounded-lg" type="button" data-action="click->dropdown#toggleMenu">
    <%= lucide_icon("more-horizontal", class: "w-5 h-5 text-gray-500") %>
  </button>
  <div class="absolute z-20 hidden w-screen mt-2 max-w-min" data-dropdown-target="menu">
    <div class="w-64 text-sm font-semibold leading-6 text-gray-900 bg-white shadow-lg shrink rounded-xl ring-1 ring-gray-900/5">
      <div class="flex flex-col">
        <div class="grow p-1.5">
          <div class="relative flex items-center bg-white border border-gray-200 rounded-lg">
            <%= form_with model: category, method: :patch, html: { data: { turbo_frame: "_top", controller: "auto-submit-form" }, class: "flex flex-col gap-0.5 p-1.5" } do |form| %>
              <%= form.text_field :name, placeholder: "Category name", value: category.name, minlength: 3 %>
            <% end %>

<!--            <input placeholder="Search" class="placeholder:text-sm placeholder:text-gray-500 h-10 relative pl-10 w-full border-none rounded-lg"/>-->
            <%#= lucide_icon("search", class: "w-5 h-5 text-gray-500 ml-2 absolute inset-0 transform top-1/2 -translate-y-1/2") %>
          </div>
        </div>
        <hr/>
        <div class="p-1.5 w-full">
          <%= link_to transaction_category_path(category), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "flex text-sm font-medium items-center gap-2 text-red-600 w-full rounded-lg p-2 hover:bg-gray-100" do %>
            <%= lucide_icon("trash-2", class: "w-5 h-5") %>
            Delete category
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
